.nominations-footer {
  max-height: 5vh;
  overflow-y: hidden;
}

.nominations-footer-enter {
  max-height: 0vh;
}

.nominations-footer-enter.nominations-footer-enter-active {
  max-height: 5vh;
  transition: max-height 300ms ease-in;
}

.nominations-footer-leave {
  max-height: 5vh;
}

.nominations-footer-leave.nominations-footer-leave-active {
  max-height: 0;
  transition: max-height 300ms ease-in;
}
